/* order the styles based on the order they appear in index */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* header can be its own element, not a class */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

/* seo is the id */
#seo {
    color: #d9dcd6;
}

/* nav element */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* nav element list */
nav ul {
    list-style-type: none;
}

/* nav element list items */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* nav links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* figure element */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* main element */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* the main classes are duplicates, only need one class */
.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* the main header classes are duplicates, only need one class */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* the main img classes are duplicates, only need one class */
.content img {
    max-height: 200px;
}

/* section images */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* paragraphs */
p {
    font-size: 16px;
}

/* aside element */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* the aside classes are duplicates, only need one class */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* the aside header classes are duplicates, only need one class */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* the aside img classes are duplicates, only need one class */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* footer can be its own element, not a class */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}